@model List<CatalogAppMVC.Models.Category>
@{
    ViewBag.Title = "Index";
}

<ul class="nav nav-pills">
    <li class="active">
        @Html.ActionLink("Разделы", "Index", "Home")
    </li>
    <li>
        @Html.ActionLink("Последние записи", "AddRecordCategory", "Records")
    </li>
    <li>
        @Html.ActionLink("Последние файлы", "AddRecordCategory", "Records")
    </li>
</ul>

<ul class="list-group">
    @foreach (CatalogAppMVC.Models.Category category in Model)
    {
        <li class="list-group-item">@Html.ActionLink(category.Name, "RecordsOfCategory", "Records", new { categoryID = category.ID }, null)</li>
    }
</ul>








<p>@Html.ActionLink("AddSmth","AddRecordCategory","Records")</p>
<p>@Html.ActionLink("Смотреть", "RecordView", "Records")</p>

