@model IEnumerable<CatalogAppMVC.Models.AccessRoleCategory>

@{
    ViewBag.Title = "Права";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Права доступа к категориям</h2>

<p>
    @Html.ActionLink("Создать", "CreateAccess")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Роль")
        </th>
        <th>
            @Html.DisplayName("Категория")
        </th>
        <th>
            @Html.DisplayName("Чтение")
        </th>
        <th>
            @Html.DisplayName("Запись")
        </th>
        <th>
            @Html.DisplayName("Скачивание файлов")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GetNameRole)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GetNameCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CanRead)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CanWrite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CanDownloadFile)
        </td>
        <td>
            @Html.ActionLink("Изменить", "EditAccess", new {  roleID = item.RoleID, categoryID = item.CategoryID }) |
            @Html.ActionLink("Удалить", "DeleteAccess", new { roleID = item.RoleID, categoryID = item.CategoryID })
        </td>
    </tr>
}

</table>
