@model IEnumerable<CatalogAppMVC.Models.Category>

@{
    ViewBag.Title = "Категории";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_AdminNavPartial")

<br />

<h2>Категории</h2>

<br />

<p>
    @Html.ActionLink("Создать", "CreateCategory")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Название")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Изменить", "EditCategory", new { categoryId = item.ID }) |
            @Html.ActionLink("Удалить", "DeleteCategory", new { categoryId=item.ID })
        </td>
    </tr>
}

</table>
