@model CatalogAppMVC.Models.RecordsViewModel

@{
    ViewBag.Title = "RecordsOfCategory1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.CategoryName</title>
</head>
<body>
    <h2>@ViewBag.CategoryName</h2>
    @Html.Hidden("CategoryID", Model.categoryID)
    @using (Html.BeginForm())
    {
        <ul class="list-group">
            @for (int i = 0; i < Model.records.Count; ++i)
            {
                <li class="list-group-item">
                    @Html.Hidden(String.Format("RecordsForView[{0}].id", i), Model.records[i].ID)
                    @Html.CheckBoxFor(val => Model.RecordsForView[i].check)
                    @Html.ActionLink(Model.records[i].Name, "RecordView", "Records", new { recordID = Model.records[i].ID }, null)
                </li>
            }
        </ul>
    <br />
    <br />
    <p><input type="submit" value="Сравнить" /></p>
    }
</body>
</html>

